[mysql]
user=root
password={{ mysql_root_password }}
socket={{ mysql_unix_socket }}
[mysqladmin]
user=root
password={{ mysql_root_password }}
socket={{ mysql_unix_socket }}
[mysqldump]
user=root
password={{ mysql_root_password }}
socket={{ mysql_unix_socket }}
