[mysql]
user=root
password={{ mysql_root_password }}
socket=/var/run/mysqld/mysqld.sock
[mysqladmin]
user=root
password={{ mysql_root_password }}
socket=/var/run/mysqld/mysqld.sock
[mysqldump]
user=root
password={{ mysql_root_password }}
socket=/var/run/mysqld/mysqld.sock
